@import "styles/variables.scss";

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text {
  font-size: 16px;
  font-weight: 700;
}

.image {
  @media screen and (min-width: $tablet) {
    width: 200px;
    height: 200px;
  }
}
