// background-colors
$bgCl: #c7d2e1;
$extraBgCl: #36425a;

// text-colors
$primaryTextCl: #272727;
$secondaryTextCl: #b1b1b1;
$logoCl: #d3dff8;

// border-colors
$lightBdrCl: #c7d2e1;
$darkBdrCl: #5f91d6;

// decor-colors
$hoverCl: #c7d2e1;
$darkHoverCl: #5f91d6;
$linkCl: #4f71a1;

// screen-width
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
